@font-face {
    font-family: 'Zolina';
    src: url('Zolina-Regular.eot');
    src: url('Zolina-Regular.eot?#iefix') format('embedded-opentype'),
        url('Zolina-Regular.woff2') format('woff2'),
        url('Zolina-Regular.woff') format('woff'),
        url('Zolina-Regular.ttf') format('truetype'),
        url('Zolina-Regular.svg#Zolina-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

